<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/241544/pexels-photo-241544.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container text-center">
    <h1 class="mb-5">Next Trend</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<div class="container">
  <h2 class="text-center mt-5 mb-2">Last Week Summary</h2>
  <div class="row justify-content-center">
    
    <%= link_to tesla_path, class:"text-decoration-none w-100" do %>
      <div class="company-card-list back-green">
        <div class="company-name">
          <h4>TESLA</h4>
        </div>
        <div class="company-name">
          <h4>Positive News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Negative News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Neutral News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Sentimental Score: 10</h4>
        </div>
      </div>
    <% end %>

    <%= link_to root_path, class:"text-decoration-none w-100" do %>
      <div class="company-card-list back-red">
        <div class="company-name">
          <h4>AMAZON</h4>
        </div>
        <div class="company-name">
          <h4>Positive News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Negative News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Neutral News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Sentimental Score: 10</h4>
        </div>
      </div>
    <% end %>

    <%= link_to root_path, class:"text-decoration-none w-100" do %>
      <div class="company-card-list back-red">
        <div class="company-name">
          <h4>GAME STOP</h4>
        </div>
        <div class="company-name">
          <h4>Positive News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Negative News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Neutral News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Sentimental Score: 10</h4>
        </div>
      </div>
    <% end %>

    <%= link_to root_path, class:"text-decoration-none w-100" do %>
      <div class="company-card-list back-green">
        <div class="company-name">
          <h4>KODAK</h4>
        </div>
        <div class="company-name">
          <h4>Positive News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Negative News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Neutral News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Sentimental Score: 10</h4>
        </div>
      </div>
    <% end %>

    <%= link_to root_path, class:"text-decoration-none w-100" do %>
      <div class="company-card-list back-green">
        <div class="company-name">
          <h4>FACEBOOK</h4>
        </div>
        <div class="company-name">
          <h4>Positive News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Negative News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Neutral News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Sentimental Score: 10</h4>
        </div>
      </div>
    <% end %>

    <%= link_to root_path, class:"text-decoration-none w-100" do %>
      <div class="company-card-list back-red">
        <div class="company-name">
          <h4>APPLE</h4>
        </div>
        <div class="company-name">
          <h4>Positive News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Negative News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Neutral News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Sentimental Score: 10</h4>
        </div>
      </div>
    <% end %>

    <%= link_to root_path, class:"text-decoration-none w-100" do %>
      <div class="company-card-list back-red">
        <div class="company-name">
          <h4>ALIBABA</h4>
        </div>
        <div class="company-name">
          <h4>Positive News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Negative News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Neutral News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Sentimental Score: 10</h4>
        </div>
      </div>
    <% end %>

    <%= link_to root_path, class:"text-decoration-none w-100" do %>
      <div class="company-card-list back-red">
        <div class="company-name">
          <h4>GOOGLE</h4>
        </div>
        <div class="company-name">
          <h4>Positive News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Negative News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Neutral News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Sentimental Score: 10</h4>
        </div>
      </div>
    <% end %>

    <%= link_to root_path, class:"text-decoration-none w-100" do %>
      <div class="company-card-list back-green">
        <div class="company-name">
          <h4>JOHNSON</h4>
        </div>
        <div class="company-name">
          <h4>Positive News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Negative News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Neutral News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Sentimental Score: 10</h4>
        </div>
      </div>
    <% end %>

    <%= link_to root_path, class:"text-decoration-none w-100" do %>
      <div class="company-card-list back-green">
        <div class="company-name">
          <h4>PFIZER</h4>
        </div>
        <div class="company-name">
          <h4>Positive News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Negative News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Neutral News: 10</h4>
        </div>
        <div class="company-name">
          <h4>Sentimental Score: 10</h4>
        </div>
      </div>
    <% end %>



  </div>
</div>